Package: mm3d-sw
Version: 0.9
Section: misc
Priority: optional
Architecture: all
Installed-Size: 316 kB
Maintainer: Pozsár Zsolt <pozsarzs@gmail.com>
Depends: lsb-base, build-essential, python3-configparser, python3-daemon, python3-dev, python3-openssl, python3-requests, python3-rpi.gpio, python3-setuptools
Description: MM3D growing house controlling and remote monitoring equipment.
